
<div class="row">
    <div class="col s8 offset-s2">
            <div class="card">
                <div class="sm-jumbotron center-align">
                    <h2>Add Admin</h2>
                </div>
                <form class="col s12 white" #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm.value)">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="number"  name="Id" #Id="ngModel" [(ngModel)]="admin.Id" placeholder="Id"  >
                        </div>

                        <div class="input-field col s6">
                                <input type="text"  name="firstName" #firstName="ngModel" [(ngModel)]="admin.firstName" placeholder="firstName"  >
                            </div>                        
                            </div>
                            <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text"  name="lastName" #lastName="ngModel" [(ngModel)]="admin.lastName" placeholder="lastName" >
                                    </div>
            
                                    <div class="input-field col s6">
                                            <input type="email"  name="email" #email="ngModel" [(ngModel)]="admin.email" placeholder="email" >
                                        </div>
                    
                    </div>
                    <div class="row">
                            <div class="input-field col s6">
                                <input type="number"  name="cellNo" #cellNo="ngModel" [(ngModel)]="admin.cellNo" placeholder="cell Number" >
                            </div>
    
                            <div class="input-field col s6">
                                    <input type="number"  name="phNo" #phNo="ngModel" [(ngModel)]="admin.phNo" placeholder="Phone Number" >
                                </div>
                            </div>
                            <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text"  name="companyName" #companyName="ngModel" [(ngModel)]="admin.companyName" placeholder="Company Name" >
                                    </div>
            
                                    <div class="input-field col s6">
                                            <input type="text"  name="userName" #userName="ngModel" [(ngModel)]="admin.userName" placeholder="User Name"  >
                                        </div>
                                    </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                            <input type="text"  name="password" #password="ngModel" [(ngModel)]="admin.password" placeholder="Password" >
                                        </div>
                
                                        <div class="input-field col s6">
                                                <input type="text"  name="designation" #designation="ngModel" [(ngModel)]="admin.designation" placeholder="Designation">
                                            </div>
                                        </div>

                                        <div class="row">
                                                <div class="input-field col s8">
                                                       <button class="btn-large btn-submit" type="submit">Submit</button>
                                                    </div>
                            
                                                    <div class="input-field col s4">
                                                            <button class="btn-large btn-reset"  type="reset">Reset</button>
                                                        </div>
                                                    </div>
                </form>
            </div>
    </div>
</div>
